extends layout

block content
  h1= meme.name
  img(src='../images/'+ meme.file_name href='meme/' + meme.id).resize_show
  h2.center Aktualna cena
  p.history_field= meme.updator + " " + meme.price
  br
  table
    tr
      th Historia poprzednich cen
    each entry in history
      tr
        td.history_field= entry.author + " " + entry.price
  form(method='POST' action='/meme/' + meme.id)
    input(type="hidden" name="_csrf" value=csrfToken)
    div.form-group
      label(for='price') Nowa cena:
      br
      input#new_price.form-control(type='number', placeholder=meme.price, name='price')
    button(type='submit') ZMIEŃ TO
